.notification {
    color: grey;
    background: lightgrey;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
    border-width: 2px;
  }
  
  .notification.success {
    color: green;
    background: #d4edda;
    border-color: green;
  }
  
  .notification.error {
    color: red;
    background: #f8d7da;
    border-color: red;
  }